/* App.css */

.github-star-display {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);  /* 반투명한 배경색 */
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.github-star-display a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.github-star-display a:hover {
  text-decoration: underline;
}
